.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 100%;
    width: 450px;
}

.searchbar {
    width: 100%;
    background-color: var(--color-bg-main);
    color: var(--color-text-oppmain);
    border-radius: 5px;
    border: 1px solid var(--color-border-nav);
    outline: none;
    padding: 5px;
    font-size: 1.25rem;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: 1px solid var(--color-border-nav);
    border-radius: 5px;
    max-height: 200px;
    overflow: scroll;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}