.container {
    display: flex;
    padding: 8px 12px 8px 12px;
}

.container:hover {
    cursor: pointer;
    background-color: var(--color-bg-oppmain);
    color: var(--offblack);
}

.resultItem {
    margin: 0px 0px 0px 0px;
}