.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: var(--darkgrey);
    z-index: 0;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 30px;
    height: 100%;
    width: 150px;
}

.logo {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: "Shrikhand";
    font-weight: 700;
    color: var(--white);
    cursor: default;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}


.footerItem {
    font-size: .92rem;
    margin: 2px 0px 2px 0px;
    color: var(--white);
}


.socialLinks {
    display: flex;
    align-items: center;
    margin: 0px 30px 0px 0px;
   
}


.socialImg {
   width: 20px;
   height: 20px;
   margin: 0px 10px 0px 10px;
}

.copy {
    margin: 0px 20px 0px 0px;
    color: #ececec;
    cursor: default;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;

    }

    .socialLinks {
        justify-content: center;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

    .logoContainer {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .logo {
        margin: 10px 0px 10px 0px;
    }

    .footerContent {
        flex-direction: column;
        gap: 7px;
        margin: 0px 0px 10px 0px;
    }
}