
.card {
    flex-basis: 450px;
    max-height: 350px;
    flex-grow: 1;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--white);
 
}

.cardDate {
    color: var(--darkergrey);
}