.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100%;
    border: none;
    border-radius: 25px;
    margin-top: 25px;
    padding: 0px 10px 0px 10px;
    box-shadow: 1px 1px 5px var(--greygrey);
    background-color: white;
    z-index: 30;
}

.checkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 25px;
    margin-top: 25px;
    padding: 0px 10px 0px 10px;
    box-shadow: 1px 1px 5px var(--greygrey);
}

.checkText {
    text-align: center;
    font-size: 1rem;
    color: var(--lightoffblack);
}

.googleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px 0px 20px 0px;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-border-grey);
    border-radius: 25px;
    width: 100%;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
}

.googleText {
    margin: 0px 0px 0px 10px;
    font-family: "Montserrat";
    font-weight: 400;
    color: var(--darkgrey);
}

.emailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px 0px 20px 0px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputContainer {
    width: 100%;
    border: 2px solid var(--color-border-grey);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    font-family: "Montserrat";
    font-weight: 400;
    
}


.nameContainer {
    display: flex;
    margin: 0px 0px 15px 0px;
}

.nameInputFirst {
    width: 100%;
    border: 2px solid var(--color-border-grey);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    font-family: "Montserrat";
    font-weight: 400;
    margin-right: 10px;
}

.nameInputLast {
    width: 100%;
    border: 2px solid var(--color-border-grey);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    font-family: "Montserrat";
    font-weight: 400;
}

.emailButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--lighttreegreen);
    border-radius: 25px;
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
    width: 100%;
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.emailNote {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--lightgrey);
    border-radius: 10px;
    font-size: .75rem;
    font-family: "Montserrat";
    font-weight: 400;
    width: 100%;
    margin-top: 15px;
 
}

.noteImg {
  margin-right: 5px;
  margin-bottom: -2px;
  opacity: .7;
}

.noteText {
    text-align: center;
    width: 100%;
    color: var(--darkgrey);

}

.signupLine {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 15px 0px 15px 0px;
  }
  
.signupLine::before {
    margin-right: 10px;
}

.signupLine::after {
    margin-left: 10px;;
}

.signupLine::before, .signupLine::after {
    content: "";
    flex: 0 1 100%;
    border-bottom: 1px solid var(--midgrey);
    transform: translateY(50%);
}

.signupOr {
    font-size: 1rem;
    color: var(--darkgrey);
}

.loginButtonContainer {
    margin: 10px 0px 20px 0px;
}
.loginButton {
    cursor: pointer;
    color: var(--lighttreegreen);
}