.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
  
}

.imageContainer {
    width: 100%;
}

.displayName {
    width: 100%;
}


.displayNameSession {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 0px 0px;
}

.nameTitle {
    margin: 0;
    font-size: 1.75rem;
}

.editProfileButton {
    border: 2px solid var(--color-border-grey);
    background: none;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
}

.editContainer {
    display: flex;
    align-items: center;
    margin: 0px 0px 3px 10px;
    height: 100%;
    opacity: .5;
}

.editButton {
    margin: 0px 0px 0px 5px;
    height: 100%;
    cursor: pointer;
    
}

.formContainerName {
    display: flex;
}


.inputDisplayName {
    font-size: 1.75rem;
    border: 2px solid var(--color-border-grey);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin: 0px 5px 0px 0px;
}


.locationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 10px 0px;

}

.locationTitle {
    margin:0;
    font-size: 1.25rem;
    font-weight: 400;
}

.editButtonLocation {
    margin: 0px 0px 0px 10px;
    height: 100%;
   
}