

.container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 80%;
    cursor: default;
}

.placeholderContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 80%;
    opacity: .3;
    cursor: default;
}

.reviewContainer {
    display: flex;
    margin: 15px 0px 20px 0px;
    padding: 10px;
    width: 100%;
    text-align: start;
    white-space: pre-wrap;
}

.reviewInnerContainer {
    display: flex;
    margin: 15px 0px 20px 0px;
    padding: 10px;
    width: 100%;
    text-align: start;
    white-space: pre-wrap;
}

.reviewTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 0px 10px;
}


.reviewTitle {
    margin: 5px 0px 0px 0px;
}

.reviewLocation {
    margin: 3px 0px 0px 0px;
}



.starContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    
}

.starDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.dateContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.dateDetails {
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 0px 10px;
    height: 100%;
}

.starItem {
    margin: 0px 2px 0px 2px;
}

