.loginButton {
    color: var(--color-border-nav);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
  }

.authModuleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(100, 100, 100, .5);
    z-index: 10;
}

.authModule {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10vh;
  width: 500px;
  height: 500px;
  background-color: none;
  z-index: 30;
}


.navText {
  display: none;
}



@media (max-width: 768px) {

  .authIconContainer {
    display: flex;
    gap: 10px;
    z-index: 55;
  }

  .authIcon {
    margin: -3px 0px 0px 0px;
    width: 25px;
    height: 29px;
    z-index: 55;
  }

  .navText {
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 400; 
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    z-index: 55;
}

}