.desktop {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.mobile {
    display: none;
}

@media (max-width: 750px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .logo {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0px 0px 0px 0px; 
        font-size: 2.25rem;
    }

    .logoContainer {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 10px;
    }

    .burger {
        padding: 0px 10px 0px 0px;
        width: 35px;
        
    }
}