.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.linkContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.accountContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.linkItem {
    margin-left: 25px;
    cursor: pointer;
}

.authContainer {
    width: 100%;
    margin-left: 25px;
}

.logo {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: "Shrikhand";
    font-weight: 700;
    color: var(--offblack);
}

.toggle {
    margin: 4px 25px 0px 10px ;
}

@media (max-width: 700px) {
    .container {
        justify-content: flex-start;
        padding-top: 100px;
        height: 100vh;
        margin: 0px 0px 0px 0px;
        font-family: "Shrikhand";
        font-weight: 700;
    }


    .logo {
        display: none;
    }
}