.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    font-weight: 400;
}

.linkContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.accountContainer {
    display: flex;
    align-items: center;
}


.linkItemBuild {
    margin: 10px 10px ;
    color: var(--color-accent-build);
}

.linkItemPath {
    margin: 10px 10px ;
    color: var(--color-accent-path);
}

.linkItemStack {
    margin: 10px 10px ;
    color: var(--color-accent-stack);
}

.linkItemLib {
    margin: 10px 10px ;
    color: var(--color-text-bookmark);
}

.logo {
    filter: drop-shadow(3px 3px 0  var(--color-dropshadow-stack));  
    font-size: 2.5rem;
}

.toggle {
    margin: 20px 10px ;
}

.authContainer {
    width: 100%;
}


@media (max-width: 750px) {
    .container {
        justify-content: flex-start;
        padding-top: 100px;
        height: 100vh;
        margin: 0px 0px 0px 0px;
        font-weight: 300;
        font-size: 1.5rem;
    }


    .logo {
        display: none;
    }
}