.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    font-family: "Shrikhand";
    font-weight: 700;
}

.linkContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.accountContainer {
    display: flex;
    align-items: center;
    height: 100%;
  
}


.linkItemBuild {
    margin: 10px 10px ;
    color: var(--color-accent-build);
}

.linkItemPath {
    margin: 10px 10px ;
    color: var(--color-accent-path);
}

.linkItemStack {
    margin: 10px 10px ;
    color: var(--color-accent-stack);
}

.linkItemLib {
    margin: 10px 10px ;
    color: var(--color-text-bookmark);
}

.logo {
    font-size: 1.8rem;
}

.toggle {

    margin: 4px 25px 0px 10px ;
    
}

.authContainer {
    width: 100%;
   
}


@media (max-width: 700px) {
    .container {
        justify-content: flex-start;
        padding-top: 100px;
        height: 100vh;
        margin: 0px 0px 0px 0px;
        font-family: "Shrikhand";
        font-weight: 700;
    }


    .logo {
        display: none;
    }
}