.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.revItemContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0px 0px 0px;
}


.reviewButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--lighttreegreen);
    border-radius: 25px;
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
    width: 150px;
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}