.inputContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 100px 0px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.inputContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.authModuleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(100, 100, 100, .5);
    z-index: 10;
}


.preSubmitContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.presubmitTip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    background-color: var(--slightgrey);
    border-radius: 5px;
    font-size: .8rem;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 10px 10px 10px 10px;
    width: 355px;
    margin: 15px 0px 15px 0px;
}


.presubmitTitle {
    font-weight: 600;
    color: var(--darkergrey);
    text-align: center;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    font-size: .85rem;
    margin: 0px 0px 10px 0px;
}

.presubmitImg {
    margin-right: 5px;
    margin-bottom: -3px;
    opacity: .7;
  }

.presubmitText {
    color: var(--darkgrey);
    margin: 0;
    text-align: left;
}

.authModule {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10vh;
    width: 500px;
    height: 500px;
    background-color: none;
    z-index: 30;
}

.firstOneTitle {
    font-weight: 400;
    margin: 25px 0px 10px 0px;
    color: var(--lighttreegreen);
  }


.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin-top: 25px;
}

.reviewContainer {
    width: 100%;
    border: 2px solid var(--placeholdergrey);
    border-radius: 5px;
    padding: 15px 10px 10px 15px;
}

.starContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 20px 0px;

}

.starImgContainer {
    display: flex;
    align-items: center;
}

.starTextContainer {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
}

.starText {
    color: var(--darkgrey);
    font-size: .9rem;
}

.starItem {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.inputField {
    border: none;
    width: 100%;
}

.inputField::placeholder {
    color: var(--placeholdergrey);
}

.errorMessage {
    font-size: .9rem;
    color: var(--lightred);
}

.submitContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--lighttreegreen);
    border-radius: 25px;
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
    width: 200px;
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

