.starContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .starMapItem {
    background-color: transparent;
    border: none;
    outline: none;
}

.starRatingImg {
    margin: 0px 5px 0px 5px;
}