.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    border: none;
}

.authModule {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    margin: 0px 10px 0px 10px;
    border: none;
}

