@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Shrikhand&display=swap');
:root {

  --black: #000000;
  --offblack: #333333;
  --offblack: #4f4f4f;
  --lightgrey: #f8f8f8;
  --slightgrey: #f2f2f2;
  --grey: #e5e5e5;
  --midgrey: #dddddd;
  --placeholdergrey: #b9b9b9;
  --greygrey: #afafaf;
  --darkgrey: #838383;
  --treegreen: #879F66;
  --lighttreegreen: #98ac7b;
  --lightblue: #8ec6e6;
  --lightred: #ff8485;
  

  --color-text-nav: var(--offblack);
  --color-text-body: var(--offblack);
  --color-shadow-grey: var(--lightgrey);
  --color-shadow-lightgrey: var(--grey);
  --color-bg-nav: var(--lightgrey);
  --color-border-grey: var(--grey);



  --lighterdarkgrey: #373737;
  --extralightmidgrey: #dddbdb;
  --extralightgrey: #eeeeee;
  --extraextralightgrey: #f5f5f5;
  --hotpink: #FF69B4;
  --hotgreen: #9FE2BF;
  --hotblue: #8cdbf6;
  --hotpinkshadow: #cd5390;
  --hotgreenshadow: #72a68a;
  --hotblueshadow: #5e99ad;
  --white: #ffffff;
  --toggledark: #a9a9a9;
  --togglelight: #908f8f;
  --lightpurple: #bb7ed7;
  
  

  --color-accent-stack: var(--hotpinkshadow);
  --color-accent-path: var(--hotgreenshadow);
  --color-accent-build: var(--hotblueshadow);
  --color-accent-zap: var(--hotpinkshadow);
  --color-card-stack: var(--hotpinkshadow);
  --color-card-path: var(--hotgreenshadow);
  --color-card-build: var(--hotblueshadow);
  --color-card-zap: var(--hotpinkshadow);
  --color-shadow-stack: var(--hotpinkshadow);
  --color-shadow-path: var(--hotgreenshadow);
  --color-shadow-build: var(--hotblueshadow);
  --color-shadow-zap: var(--hotpinkshadow);
  --color-dropshadow-stack: var(--hotpink);
  --color-dropshadow-path: var(--hotgreen);
  --color-dropshadow-build: var(--hotblue);
  --color-dropshadow-zap: var(--hotpink);
  --color-dropshadow-card-stack: var(--lightgrey);
  --color-dropshadow-card-path: var(--lightgrey);
  --color-dropshadow-card-build: var(--lightgrey);
  --color-dropshadow-card-zap: var(--lightgrey);
  --color-bg-content: var(--white);
  --color-bg-main: var(--white);
  --color-bg-oppmain: var(--extraextralightgrey);
  --color-bg-toggle: var(--togglelight);
  --color-text-oppmain: var(--offblack);
  --color-newsletter-border: var(--darkgrey);
  --color-newsletter-text: var(--darkgrey);
  --color-newsletter-input: var(var(--darkgrey));
  --color-border-nav: var(--darkgrey);
  --color-load-0: var(--extralightgrey);
  --color-load-50: var(--extralightmidgrey);
  --color-load-100: var(--extralightgrey);
  --color-spinner: var(--lightmidgrey);
  --color-bg-spinner: var(--midgrey);
  --color-text-bookmark: var(--lightpurple);
  --color-date: var(--midgrey);
}

html,
body {
  padding: 0; 
  margin: 0; 
  font-weight: 400; 
  font-family: 'Montserrat', sans-serif; 
  letter-spacing: .03rem; 
  overscroll-behavior: none; 
  font-size: 15px; 
  background: var(--color-bg-main); 
  color: var(--color-text-main); 
  transition: background 0.25s ease-in-out; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2rem;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

*:focus {
  outline: none;
}





