.nav {
  position:fixed;
  flex: auto;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-nav);
  z-index: 10;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  margin: 50px 0px 0px 0px;
}

.footer {
  display: flex;
  width: 100%;
}

/* Utilities */

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexColumnCenterFull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowCenterFull {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}


@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    border: none;
    padding-top: 50px;
    width: 100vw;
  }

  .nav {
    position: fixed;
    display: flex;
    height: 50px;
    width: 100vw;
    background-color: var(--color-bg-nav);
    border-bottom: .5px solid var(--color-border-nav);
    margin: 0;
    z-index: 10;
  }

  .buttonBasic {
    margin: 0px 0px 0px 0px;
    font-weight: 200;
    font-size: 1.25rem;
}
}